    <!-- JS -->
    <!-- JS -->
    <script src="{{ site.url }}/assets/js/modernizr-3.3.1.custom.min.js"></script>
    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-S56X4S0WRZ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-S56X4S0WRZ');
      </script>
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
